<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>Consulta Online - Consultas</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<script src="js/jquery.js"></script>
	<script src="bootstrap.min.js"></script>
</head>
<body>
<div>
	<h2>Registrar Consulta</h2>
	<form>
		Paciente:<br>
		<input type="text" name="paciente">
		<br>
		Email:<br>
		<input type="text" name="email">
		<br>
		Data:<br>
		<input type="text" name="data">
		<br>
		Horário:<br>
		<input type="text" name="hora">
	</form>
	<input type="button" onclick="alert('Consulta registrada!')" value="Registrar">
	<br><br>
	<a href="">Ver consultas anteriores.</a>

	
</div>
</body>
</html>
