<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>Consulta Online - Login</title>
	<link href="../static/css/bootstrap.min.css" rel="stylesheet">
	<link href="../static/css/personal.css" rel="stylesheet">
	<script src="../static/js/jquery.js"></script>
	<script src="bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	<form class="form-signin">
		<h2 class="form-signin-header">Consuta Online - Login</h2>
		<label for="inputUsuario">Usuário:</label><br>
		<input id="inputUsuario" type="text" name="user"><br>
		<label for="inputSenha">Senha:</label><br>
		<input id="inputSenha" type="password" name="psw">
	</form>
		
	<div class="btn-group">
		<button>Entrar</button>
		<button>Cadastre-se</button>
	</div>
</div>
</body>
</html>
